*{
    margin:0;
    padding:0;
}

#feature-container{
    display:flex;
    justify-content:center;
    margin-bottom:20vh;
}
.feature{
    width:80vw;
    height:auto;
    margin-top:20vh;
    position:relative;
    display:flex;
    align-items:center;
    transition:transform 2000ms linear;
    background-color:maroon;
}

.feature .header-text{
    color:white;
    font-size:1.2rem;
    margin-left:2vw;
    width:60%;
}

.feature .header-image{
    width:40%;
    height:100%;
}

.feature .header-image img{
    width:100%;
    height:100%;
}

.feature-shown{
    transform:translateY(0);
}

.feature-hidden{
    transform:translateY(5000px);
}


.steps-header{
    margin:15vh 0;
}
.steps-header h2{
    text-align:center;
    font-size:2.6rem;
    font-weight:700;
}

#steps{
    display:flex;
    justify-content:space-evenly;
    width:80vw;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    padding-bottom:20vh;
}

.step{
    width:33%;
    height:auto;
    padding:1vh 1vw;
    box-sizing:border-box;
    display:flex;
    cursor:pointer;
    transition:transform 500ms ease-in-out;
    background-color:maroon;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

span h2{ 
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px white solid;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:1vw;
}

.step > h2{
    width:90%;
}

#job-openings{
    width:80vw;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    height:50vh;
    overflow-y:scroll;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:20px;
    row-gap:20px;
    margin-bottom:20vh;
}

.job{
    padding:20px 0;
    background-color:whitesmoke;
    display:flex;
    align-items:center;
}


.job-icon,.job-description{
    padding:0 20px;
    box-sizing:border-box;
}
.job-icon{
    font-size:3.5rem;
}

#job-form-header{
    text-align:center;
}
#job-form{
    display:flex;
    justify-content:center;
    margin-bottom:20vh;
}

#job-form form{
    width:80vw;
}
#form-container{
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:white;
}

form{
    width:80%;

}


input,textarea{
    width:100%;
    padding:6px 0;
    border:2px black solid;
}

label{
    font-weight:700;
    margin:20px 0;
}

input[type=submit]{
    background-color:maroon;
    color:white;
    margin:14px 0;
    padding:9px 0;
    cursor:pointer;
    font-weight:700;
}

@media screen and (max-width:612px){

    #feature-mobile{
        position:relative;
        background-image:url("../images/mobile/carreers_feature.jpg");
        height:1200px;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
    #feature-mobile h1{
        font-size:4.6rem;
        color:white;
        font-weight:700;
        position:relative;
        top:9vh;
        z-index:100;
    }
    
    #feature-mobile::after{
        content:'';
        background-color:black;
        opacity:1;
        height:100%;
        width:100%;
        position:absolute;
        opacity:0.4;
    
    }

    #feature-container{
        display:none;
    }
    #job-openings{
        grid-template-columns:1fr;
    }

    #steps{
        flex-direction:column;
        margin-top:20vh;
    }

    .step{
        width:100%;
        margin-bottom:2vh;
    }


}